@font-face{
    font-family: futuristicfont;
    src: url(futuristicfont.ttf);
} 

html{
    background-color: #23272A;
}
.navbar{
    background: linear-gradient(115deg, #5500b5, #000000, #000000);
}
.jumbotron{
    background-color: #000000;
    text-align: center;
    color: white;

    /* border-top-style: solid double;
        border-top-width: 2px;
        border-top-color: #5500b5;
    border-top-style: solid double;
        border-bottom-width: 2px;
        border-bottom-color: #5500b5; */
}
.jumbotron-fluid{
    margin-bottom: 0%;
}
a.navbar-brand{
    font: futuristicfont;
    font-family: futuristicfont;
    font-size: 3em;
}