@font-face{
    font-family: futuristicfont;
    src: url(futuristicfont.ttf);
} 

html{
    background-color: #23272A;
}
.list-unstyled{
    background-color: #23272A;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}
.media{
    background-color: #23272A;
    color: white;
}
.navbar{
    background: linear-gradient(115deg, #5500b5, #000000, #000000);
}
.jumbotron{
    background-color: #000000;
    text-align: center;
    color: white;

    /* border-top-style: solid double;
        border-top-width: 2px;
        border-top-color: #5500b5;
    border-top-style: solid double;
        border-bottom-width: 2px;
        border-bottom-color: #5500b5; */
}
.jumbotron-fluid{
    margin-bottom: 0%;
}
a.navbar-brand{
    font: futuristicfont;
    font-family: futuristicfont;
    font-size: 3em;
}

/* Checkout Page */

#checkoutheader{
    background: linear-gradient(#5500b5, #000000);
    color: white;
    /* box-shadow: 10px 10px #23272A; */
}
.container{
    margin-right:0%;
    margin-left: 0%;
    border-right: 0%;
    align-content: center;
}